body{
    background-color: white;
}

section.hero{
    padding: 20px 0;
}

section.hero .text{
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;
    color: black;
}

section.hero .text .text1{
    font-weight: 800;
    font-size: 25px;
    line-height: 50px;
    color: black;
}

.button{
    padding-top: 25px;
}

.button .btn{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

.hujan img{
    width: 30px;
    animation: hujan 7s linear infinite;
}

.hujan{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: -70px;
}

@keyframes hujan{
    0%{
        transform: translateY(100);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(80vh);
        opacity: 0;
    }
}

.hujan img:nth-child(1){
    animation-delay: 2s;
}
.hujan img:nth-child(2){
    animation-delay: 1s;
}
.hujan img:nth-child(3){
    animation-delay: 4s;
}
.hujan img:nth-child(4){
    animation-delay: 7s;
}
.hujan img:nth-child(5){
    animation-delay: 3s;
}
.hujan img:nth-child(6){
    animation-delay: 6s;
}
.hujan img:nth-child(7){
    animation-delay: 5s;
}